annotated-types
anyio
asgiref
cachetools
certifi
charset-normalizer
colorama
Django
filelock
fsspec
google-auth
google-genai
h11
httpcore
httpx
idna
Jinja2
llvmlite
MarkupSafe
more-itertools
mpmath
networkx
numba
numpy
openai-whisper @ git+https://github.com/openai/whisper.git@dd985ac4b90cafeef8712f2998d62c59c3e62d22
pillow
pyasn1
pyasn1_modules
pydantic
pydantic_core
regex
reportlab
requests
rsa
semantic-version
setuptools
setuptools-rust
sniffio
sqlparse
sympy
tenacity
tiktoken
torch
tqdm
typing-inspection
typing_extensions
tzdata
urllib3
websockets
pynput
soundfile
